.sectionContact {
  background-color: var(--blue-800);
  padding: 5rem 0;
  color: var(--white);

  .title {
    font-size: 3rem;
    text-align: center;
  }

  .content {
    display: flex;
    gap: 30px;
    padding: 2rem;

    .border {
      border-radius: 0.35rem;
      background: linear-gradient(var(--blue-800), var(--blue-800)) padding-box,
        linear-gradient(90deg, var(--red-500), #ff6823) border-box;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
    }

    form {
      flex: 3;
      text-align: center;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h3 {
        font-size: 1.75rem;
        font-weight: 500;
      }

      .formBox {
        position: relative;

        input,
        textarea {
          background: none;
          border: none;
          outline: none;
          border-bottom: 2px solid var(--red-500);
          padding: 0.75rem 0;
          color: #fff;
          width: 100%;

          & + span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 0.6rem;
            opacity: 0;
            transition: all 0.4s;
          }

          &:focus + span,
          &.filled + span {
            opacity: 1;
          }
        }

        textarea {
          resize: none;

          & + span {
            width: 100%;
            text-align: left;
            background-color: var(--blue-800);
          }
        }
      }

      button {
        width: 9rem;
        background-color: var(--purple-500);
        border: none;
        border-radius: 0.25rem;
        color: var(--white);
        font-size: 1rem;
        padding: 0.5rem 0;
        transition: filter 0.3s;
        margin: 0 auto;
        height: 40px;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    .socials {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 30px;

      article,
      a {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        svg {
          fill: var(--red-500);
          font-size: 30px;
        }

        p {
          flex: 1;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .sectionContact {
    padding: 2rem 0;

    .title {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    .content {
      flex-direction: column;
      padding: 0;
      gap: 15px;

      .socials {
        gap: 15px;
      }
    }
  }
}
